:root {
  --primary: #312951;
  --secondary: #473d72;
  --light: #fafafd;
}

* {
  font-family: 'Sen';
}

input,
.MuiFormLabel-root {
  font-family: 'Sen' !important;
}

.MuiButton-root {
  text-transform: none !important;
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}

.css-1yjjitx-MuiSwitch-track {
  background-color: var(--secondary) !important;
}

.modal-body {
  background-color: var(--primary);
  color: white;
}

.bestseller {
  background-color: var(--secondary);
  border-radius: 6px;
  color: white;
  width: fit-content;
  padding: 2px 4px;
  font-size: 12px;
  margin: 5px 0px;
}

html {
  box-sizing: border-box;
}

.MuiSwitch-thumb {
  background-color: var(--primary);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.MenuItem {
  font-size: 18px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  cursor: pointer;
}

::selection {
  background-color: var(--primary);
  color: var(--light);
}

body {
  color: var(--secondary);
  background-color: var(--primary);
  padding: 1rem;
}

.Search__Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light);
  border-top: 1px solid var(--secondary);
}

.menu {
  padding: 1rem 2rem 0rem;
  margin: 0 auto;
  max-width: 50rem;
  background-color: var(--light);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-bottom: 10px;
}

.Header_Sticky {
  position: sticky;
  top: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  border-bottom: 1px;
}

.menu-item-sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px;
}

.menu-item-photo {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
}

.Header {
  max-width: 50rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 30vh;
  border-radius: 10px 10px 0 0;
  margin-bottom: -20px;
}

.Title {
  color: white;
  font-size: 55px;
  font-weight: bolder;
  text-shadow: 2px 2px var(--secondary);
}

.SubTitle {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px var(--secondary);
  text-align: end;
  font-style: italic;
}

.icon {
  color: white;
}

.AddButton {
  width: 100px;
}

.IncDecButton {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  background-color: var(--secondary);
  color: white;
  border-radius: 10px;
  font-size: 14px;
  height: 40px;
}

.MenuButton {
  z-index: 1000;
  padding-bottom: 20px;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  max-width: fit-content;
  opacity: 1;
}

.mains-name {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
  margin-left: 5px !important;
}

@media (min-width: 660px) {
  .logo {
    margin-bottom: 0;
  }
}

@media (max-width: 660px) {
  .menu {
    padding: 1rem 0.6rem 0rem;
  }
}

.mains-name {
  margin: 0;
  flex-grow: 1;
}

.mains-description {
  flex: 1 1 100%;
  margin-right: 10px;
  color: var(--secondary);
}

.aside {
  grid-column: 2 / 3;
}

.extras {
  color: var(--secondary);
}

.Footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

.cancelled {
  font-size: bold;
  color: red;
}

.cancelButton {
  margin-top: 10px !important;
}

@media (min-width: 660px) {
  .extras+.extras {
    margin-top: 2.5rem;
  }
}

.extras .menu-item {
  margin-bottom: 0.75rem;
}

.menu-item-sides {
  margin-bottom: 1.5rem;
}

.extras-heading {
  margin: 0 0 1.5rem;
  border-bottom: 1px solid var(--secondary);
  width: 100%;
  font-size: 22px;
}

.extras-name {
  flex-grow: 1;
  margin-left: 5px !important;
}

.total {
  border-top: 1px solid var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);
  padding: 10px 0px !important;
}

@media (min-width: 660px) {
  .total {
    margin-top: 0;
  }
}

.total-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary);
}

.total-price {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary);
}

.previous_order {
  box-shadow: 0 0 10px lightgray;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

.user_details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.name {
  margin-left: 10px;
}

.phone {
  margin-left: 10px;
}

.date_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderby {
  font-style: italic;
  font-size: 14px;
}

.date {
  font-size: 14px;
}

.instructions {
  font-size: 14px;
  font-style: italic;
}

.order_list {
  margin: 10px;
}

.switch-container {
  position: relative;
  background-color: rgb(227, 227, 227);
  border-radius: 20px;
  width: 400px;
  margin: auto;
  margin-top: 10px;
}

.sliding-pill {
  position: absolute;
  height: 100%;
  background-color: var(--primary);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  width: 200px;
}

.slide-to-dinein {
  transform: translateX(0);
}

.slide-to-delivery {
  transform: translateX(100%);
}

.content-button {
  position: relative;
  transition: color 0.3s ease-in-out;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
  text-align: center;
  font-weight: bold;
  width: 200px;
}

.content-button.active-button {
  color: white;
}